

.aaaa{
  display: inline-block ;
}

.aaaa button{
  background-color: hsl(0, 0%, 80%);

  color: white;

  padding: 10px 15px;

  border:  none;

  cursor: pointer;
}

.aaaa a{

  display: block;

  color: black;

  text-decoration: none;

  padding:  10px 15px;
}

.aaaa1{
  display: none;

  position: absolute;
  background-color: hsl(0, 0%, 80%);


}

.aaaa:hover .aaaa1{
display: block;

}